/* styles.css */
:root {}

body {
font-family: Georgia, "Times New Roman", serif;
color: #665544;
background-color: #a4ac86; 
}

h1 {
	font-size: 8em;
	color: #FFFFFF; 
}

p {
	font-size: 3em;
	color: #FFFFFF;
} 
